{% extends 'base.html.twig' %}

{% block title %}Blog | Articles{% endblock %}

{% block body %}

    <section class="articles">
        {% for article in articles %}
        <section>
            <h2>{{ article.titre }}</h2>
            <h3>Ecrit le {{ article.createdAt | date('d/m/y') }}</h3>
            <img src="{{ article.image }}">
            <p>
                {{article.contenu | raw }}
            </p>
            <a href="{{ path('blog_show', {'id': article.id}) }}"><button class="btn btn-primary">Lire la suite</button></a>
        </section>
        {% endfor %}
    </section>

{% endblock %}
