{% extends 'base.html.twig' %}

{% block title %}Blog | Article {{ article.id }}{% endblock %}

{% block body %}
    <section>
        <h2>{{ article.titre }}</h2>
        <img src="{{ article.image }}">
        <p>Ecrit le {{ article.createdAt | date('d/m/y')}}</p>
        <p>{{ article.contenu | raw }}</p>
    </section>
{% endblock %}