{% extends 'base.html.twig' %}

{% form_theme commentForm 'bootstrap_4_layout.html.twig' %}

{% block title %}Blog | Article {{ article.id }}{% endblock %}

{% block body %}

    <section>
        {% if app.user ? app.user.email %}
            {% if app.user.email is same as('admin@admin.admin') %}

                <a href="{{ path('blog_edit', {'id': article.id}) }}"><button class="btn btn-success">Editer</button></a>
                <a href="{{ path('blog_edit', {'id': article.id}) }}"><button type="submit" class="btn btn-danger">Supprimer</button></a>

            {% endif %}
        {% endif %}

        <h2>{{ article.titre }}</h2>
        <img src="{{ article.image }}">
        <p>Ecrit le {{ article.createdAt | date('d/m/y')}} dans la catégorie {{ article.category.titre }}</p>
        <p>{{ article.contenu | raw }}</p>
    </section>

    <section id="commentaires">
        <h1>{{ article.comments | length }} commentaires :</h1>
        {% for comment in article.comments %}
        <div id="comment">
            <div class="row">
                <div class="col-3">
                    {{ comment.author }}(<small>{{ comment.createdAt | date('d/m/Y') }}</small>)
                </div>
                <div class="col">
                    {{ comment.content | raw }}
                </div>
            </div>
        </div>
        {% endfor %}

        {% if app.user %}
        {{ form_start(commentForm) }}
        {{ form_row(commentForm.author, {'attr':{'placeholder':"Votre Nom"}}) }}
        {{ form_row(commentForm.content, {'attr':{'placeholder':"Votre Commentaire"}}) }}
        <button type="submit" class="btn btn-success">Commenter</button>
        {{ form_end(commentForm) }}
        {% else %}
            <h2>Créez un compte ou connectez vous pour commenter.</h2>
        {% endif %}
    </section>
{% endblock %}