<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Blog{% endblock %}</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}" type="text/css" media="all">
        {% block stylesheets %}
        {% endblock %}
        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Phonk Life's</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('blog') }}">Blog</a>
                    </li>
                    {% if app.user ? app.user.email %}
                            {% if app.user.email is same as('admin@admin.admin') %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('blog_create') }}">Créer</a>
                                </li>
                            {% endif %}
                    {% endif %}
                    {% if not app.user %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('security_login') }}">Connexion</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('security_logout') }}">Déconnexion</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <main>
        <section class="container-fluid">
            {% block body %}



            {% endblock %}
        </section>
    </main>
    </body>
</html>
